* {
    margin: 0;
    padding: 0;
}
.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #aaa; 
  overflow-x: hidden; 
}

.sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #111;
}

.sidebar .closebtn {
    color: #fff;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #aaa;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.active, .collapsible:hover {
  background-color: #ccc;
}

#load {
    height: 10vh;
    overflow: hidden;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-container{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-container *{
    margin: 10px;
}
.content {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.filter-container{
    align-items: center;
    justify-content: space-between;
}

#search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#search-container *{

    padding: 5px;
}
#search-input {
    width: 40%;
    text-align: center;
}
#search-input::placeholder{
    text-align: center
}
#search-capsid-button {
}
#search-output {
   width: 300px;
   padding: 5px;


}
.show-sidebar{
    width: 300px;
}
.sidebar-margin{
    margin-left: 300px;
}
.dropbtn {
  color: gray;
  font-size: 16px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #ccc;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f1f1f1;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropup-content {
  display: none;
  position: absolute;
  bottom: 100%;
  background-color: #f1f1f1;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.show {display:block;}

.fa {
    font-size: 24px;
}

.filter-container{
    display: flex;
    align-items: center;
}
.filter-container *{
    padding: 5px;
}
.graph-widget {
    margin-bottom: 100px;
}
.graph-element * {
    overflow: visible;
}
.graph-element {
    position: relative;
    margin-left: 250px;
}
.pie-x-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 200px;
}
.bar-x-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5vh;
    left: 30vw;
}
.x-axis-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -5vh;
    left: 30vw;
}
.y-axis-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 90%;
    left: -250px;
}

.stat-button{
    font-size: 16px;
    margin-right: 5px;
}

text {
    margin: 40px;
    padding: 250px;
}
.cont-drop-container{
    margin-left: 20vw;
}
.color-legend {
    border: #3C7D91 5px double;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
    position: absolute;
    top: 5%;
    left: -250px;
    height: 300px;
    overflow: auto;
}
.legend-label {
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 2px solid black;
}
.legend-title {
    margin-bottom: 5px;
}
#unique-cont {
    display: none;
}
.update-label {
    position: absolute;
    top: 120px;
    left: 1%;
}
